{% extends "base.html" %}

{% block content %}

<!-- Register Form -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Sign Up</h2>
    <form method="POST" action="{{ url_for('signup') }}" class="mx-auto" style="width: 75%; max-width: 500px;">
        {{ form.hidden_tag() }}
        
        <!-- Username -->
        <div class="form-group text-left">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        
        <!-- Email -->
        <div class="form-group text-left">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        
        <!-- Password -->
        <div class="form-group text-left">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        
        <!-- Confirm Password -->
        <div class="form-group text-left">
            {{ form.password2.label(class="form-label") }}
            {{ form.password2(class="form-control") }}
            {% for error in form.password2.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        
        <!-- Submit Button -->
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-custom-blue" style="max-width: 250px;">Sign Up</button>
        </div>
    </form>
</div>
{% endblock %}